body{
    font-family: 'Lato', sans-serif;
    margin-left:100px;
    line-height : 16px;
    
}
.mid{
    text-align: center;
    line-height : 20px;
}
.timesnew{
    font-family: 'Times New Roman', Times, serif;
}